@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700&display=swap");

@import "tailwindcss";
/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  font-family: "Inter", sans-serif;
  /* letter-spacing: 0.1em; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* .font-brand {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.16em;
} */

.font-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0.06em;
}
